<div class="products_crud">
  <div class="products_crud-sidebar">
    <div class="products_crud-sidebar-logo">
      <img src="../../../assets/images/index/u84.png" style="width: 46px; height: 43px;">
      <span class="products_crud-sidebar-logo-name">DIDO</span>
    </div>
    <div class="products_crud-navigation">
      <div class="products_crud-navigation-item--block">
        <img class="products_crud-navigation-item--img" src="../../../assets/images/app/u1167.svg" style="width: 35px; height: 30px;">
        <li class="products_crud-navigation-item active" id="0" (click)="handleChangeNavigation($event)">Hiển thị sản phẩm</li>
      </div>
      <div class="products_crud-navigation-item--block">
        <img class="products_crud-navigation-item--img" src="../../../assets/images/app/u1169.svg" style="width: 32px; height: 30px;">
        <li class="products_crud-navigation-item" id="1" (click)="handleChangeNavigation($event)">Thêm mới sản phẩm</li>
      </div>
      <div class="products_crud-navigation-item--block">
        <img class="products_crud-navigation-item--img" src="../../../assets/images/app/u1171.svg" style="width: 35px; height: 23px;">
        <li class="products_crud-navigation-item" id="2" (click)="handleChangeNavigation($event)">Cập nhật sản phẩm</li>
      </div>
      <div class="products_crud-navigation-item--block">
        <img class="products_crud-navigation-item--img" src="../../../assets/images/app/u1173.svg" style="width: 35px; height: 28px;">
        <li class="products_crud-navigation-item" id="3" (click)="handleChangeNavigation($event)">Loại bỏ sản phẩm</li>
      </div>
      <div class="products_crud-navigation-item--block">
        <img class="products_crud-navigation-item--img" src="../../../assets/images/app/u1175.svg" style="width: 35px; height: 27px;">
        <li class="products_crud-navigation-item" id="4" (click)="handleChangeNavigation($event)">Tìm kiếm sản phẩm</li>
      </div>
    </div>
  </div>
  <div class="products_crud-content">

  </div>
</div>
