<div class="form_login">
  <div class="form_login-header">
    <span>Đăng nhập</span>
    <div class="form_login-header-close">
      <img src="../../../../assets/images/index/u131.svg" alt="">
    </div>
  </div>
  <div class="form_login-content">
    <div class="form_login-content-input">
      <div class="header_search">
        <div class="header_search-input">
          <input type="text" class="header_search-input-e" placeholder="Tài khoản">
        </div>
      </div>
      <div class="header_search">
        <div class="header_search-input">
          <input type="text" class="header_search-input-e" placeholder="Mật khẩu">
        </div>
      </div>
    </div>
    <div class="form_login-action">
      <div class="header_form-login">
        <span class="header_form-login-name">Đăng Nhập</span>
      </div>
    </div>
  </div>
</div>
