<div class="block_content">
  <div class="content_advise">
    <div class="content_advise-block">
      <p class="content_advise-heading">
        Dido - Giải pháp công nghệ thông tin toàn diện cho Doanh nghiệp
      </p>
      <p class="content_advise-desc-1">
        Các bộ giải pháp trọn gói, đăng ký và sử dụng ngay lập tức.
      </p>
      <p class="content_advise-desc-2">Cam kết bảo mật dữ liệu.</p>
      <div class="content_advise-block-input">
        <input class="content_advise-input" type="text" placeholder="Bạn cần tìm giải pháp cho vấn đề gì?" />
        <img class="content_advise-input-icon" src="../../../assets/images/u154.svg" style="width: 20px; height: 20px;"/>
      </div>
      <div class="content_advise-solution">
        <span class="content_advise-solution-1">Bạn cần tư vấn giải pháp?</span>
        <span class="content_advise-solution-2">Đăng ký tư vấn</span>
      </div>
    </div>
  </div>
  <div class="content_community">
    <div class="content_community-option">
      <img src="../../../assets/images/u7.svg" style="width: 50px; height: 47px;">
      <div class="content_community-option-desc">
        <span class="content_community-option-desc-1">100.000+ doanh nghiệp đang dùng</span><br />
        <span class="content_community-option-desc-2">Đa dạng các giải pháp cho mọi loại doanh nghiệp</span>
      </div>
    </div>
    <div class="content_community-option">
      <img src="../../../assets/images/u12.svg" style="width: 50px; height: 43px;">
      <div class="content_community-option-desc">
        <span class="content_community-option-desc-1">Các nhà cung cấp hàng đầu Việt Nam</span><br />
        <span class="content_community-option-desc-2">Dịch vụ uy tín, bảo mật</span>
      </div>
    </div>
    <div class="content_community-option">
      <img src="../../../assets/images/u15.svg" style="width: 58px; height: 46px;">
      <div class="content_community-option-desc">
        <span class="content_community-option-desc-1">Chuyên gia tư vấn</span><br />
        <span class="content_community-option-desc-2">Tư vấn chuyển đổi số toàn diện cho doanh nghiệp</span>
      </div>
    </div>
  </div>
</div>
