<div class="header">
  <div class="header_logo">
    <img src="../../assets/images/index/u84.png" class="header_logo-img">
    <div class="header_logo-name">
      <span>DIDO</span>
    </div>
  </div>
  <div class="header_list">
    <div class="header_list-1">
      <div class="header_list-icon">
        <img src="../../assets/images/index/u160.svg" class="header_list-icon-img">
      </div>
      <div (click)="toggleHideSubMenu()" class="header_list-name">
        <span>Danh mục</span>
        <div class="header_list-sub-menu">
          <li class="header_list-sub-menu-item">
            <img class="header_list-sub-menu-item--img" src="../../assets/images/index/u179.svg">
            <span>Giáo dục</span>
          </li>
          <li class="header_list-sub-menu-item">
            <img class="header_list-sub-menu-item--img" src="../../assets/images/index/u184.svg">
            <span>Y tế</span>
          </li>
          <li class="header_list-sub-menu-item">
            <img class="header_list-sub-menu-item--img" src="../../assets/images/index/u186.svg">
            <span>Giao thông</span>
          </li>
          <li class="header_list-sub-menu-item">
            <img class="header_list-sub-menu-item--img" src="../../assets/images/index/u187.svg">
            <span>Bán lẻ</span>
          </li>
          <li class="header_list-sub-menu-item">
            <img class="header_list-sub-menu-item--img" src="../../assets/images/index/u185.svg">
            <span>Ngân hàng</span>
          </li>
        </div>
      </div>
    </div>
  </div>
  <div class="header_search">
    <div class="header_search-input">
      <input type="text" class="header_search-input-e" placeholder="Tìm kiếm">
      <div class="header_search-icon">
        <img src="../../assets/images/index/u154.svg" alt="" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>
  <div class="header_contact">
    <div class="header_contact-block">
      <span class="header_contact-name">Trở thành Đối tác</span>
    </div>
    <img src="../../assets/images/index/u157.svg" style="width: 2px; height: 51px; margin-left: 14px;">
  </div>
  <div class="header_form">
    <div class="header_form-cart">
      <img src="../../assets/images/index/u155.svg">
    </div>
    <app-button-login></app-button-login>
    <app-button-register></app-button-register>
  </div>
</div>
