<div class="header">
  <div class="header_logo" routerLink="/" routerLinkActive="active">
    <img src="../../assets/images/index/u84.png" class="header_logo-img">
    <div class="header_logo-name">
      <spanr outerLink="/" routerLinkActive="active">DIDO</spanr>
    </div>
  </div>
  <div class="header_list">
    <div class="header_list-1">
      <div class="header_list-icon">
        <img src="../../assets/images/index/u160.svg" class="header_list-icon-img">
      </div>
      <div (click)="toggleHideSubMenu()" class="header_list-name">
        <span>Danh mục</span>
        <div class="header_list-sub-menu">
          <li class="header_list-sub-menu-item" *ngFor="let category of categoryList" (click)="getCategoryId(category.catergoryId)" routerLink="/product" routerLinkActive="active" >
            <img class="header_list-sub-menu-item--img" [src]="category.icon">
            <span>{{ category.categoryName }}</span>
          </li>
        </div>
      </div>
    </div>
  </div>
  <div class="header_search">
    <div class="header_search-input">
      <input type="text" class="header_search-input-e" placeholder="Tìm kiếm">
      <div class="header_search-icon">
        <img src="../../assets/images/index/u154.svg" alt="" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>
  <div class="header_contact">
    <div class="header_contact-block">
      <span class="header_contact-name">Trở thành Đối tác</span>
    </div>
    <img src="../../assets/images/index/u157.svg" style="width: 2px; height: 51px; margin-left: 14px;">
  </div>
  <div class="header_form">
    <div class="header_form-cart">
      <img src="../../assets/images/index/u155.svg">
    </div>
    <app-button-login></app-button-login>
    <app-button-register></app-button-register>
  </div>
  <app-form-login></app-form-login>
</div>
