<div class="block_content">
  <div class="content_advise">
    <div class="content_advise-block">
      <p class="content_advise-heading">
        Dido - Giải pháp công nghệ thông tin toàn diện cho Doanh nghiệp
      </p>
      <p class="content_advise-desc-1">
        Các bộ giải pháp trọn gói, đăng ký và sử dụng ngay lập tức.
      </p>
      <p class="content_advise-desc-2">Cam kết bảo mật dữ liệu.</p>
      <div class="content_advise-block-input">
        <input class="content_advise-input" type="text" placeholder="Bạn cần tìm giải pháp cho vấn đề gì?" />
        <img class="content_advise-input-icon" src="../../../assets/images/index/u154.svg" style="width: 20px; height: 20px;"/>
      </div>
      <div class="content_advise-solution">
        <span class="content_advise-solution-1">Bạn cần tư vấn giải pháp?</span>
        <span class="content_advise-solution-2" (click)="handleShowFormRegister()">Đăng ký tư vấn</span>
      </div>
    </div>
  </div>
  <div class="content_community">
    <div class="content_community-option">
      <img src="../../../assets/images/index/u7.svg" style="width: 50px; height: 47px;">
      <div class="content_community-option-desc">
        <span class="content_community-option-desc-1">100.000+ doanh nghiệp đang dùng</span><br />
        <span class="content_community-option-desc-2">Đa dạng các giải pháp cho mọi loại doanh nghiệp</span>
      </div>
    </div>
    <div class="content_community-option">
      <img src="../../../assets/images/index/u12.svg" style="width: 50px; height: 43px;">
      <div class="content_community-option-desc">
        <span class="content_community-option-desc-1">Các nhà cung cấp hàng đầu Việt Nam</span><br />
        <span class="content_community-option-desc-2">Dịch vụ uy tín, bảo mật</span>
      </div>
    </div>
    <div class="content_community-option">
      <img src="../../../assets/images/index/u15.svg" style="width: 58px; height: 46px;">
      <div class="content_community-option-desc">
        <span class="content_community-option-desc-1">Chuyên gia tư vấn</span><br />
        <span class="content_community-option-desc-2">Tư vấn chuyển đổi số toàn diện cho doanh nghiệp</span>
      </div>
    </div>
  </div>
  <div class="content_product-show">
    <div class="content_product-tab">
      <div class="content_product-tab-item  active" id="0" (click)="changeActive($event)">
        Chung
      </div>
      <div class="content_product-tab-item" id="1" (click)="changeActive($event)">
        Ngân hàng
      </div>
      <div class="content_product-tab-item" id="2" (click)="changeActive($event)">
        Bất động sản
      </div>
      <div class="content_product-tab-item" id="3" (click)="changeActive($event)">
        Bán lẻ
      </div>
      <div class="content_product-tab-item" id="4" (click)="changeActive($event)">
        Giáo dục
      </div>
      <div class="line"></div>
      <div class="sub-line"></div>
    </div>
    <div class="content_tab-content">
      <div class="content_tab-content-block active">
        <div class="content_tab-content-item" id="0" *ngFor="let product of productsEducation">
          <img class="content_tab-content-item--img" [src]=product.imgSrc>
          <p class="content_tab-content-item--name">{{ product.name }}</p>
          <span class="content_tab-content-item--cooperate">{{ product.cooperate }}</span>
          <span class="content_tab-content-item--desc">{{ product.desc }}</span>
          <img class="content_tab-content-item--rate" [src]=product.imgRate>
        </div>
      </div>
      <div class="content_tab-content-block">
        <div class="content_tab-content-item" id="1" *ngFor="let product of productsEducation">
          <img class="content_tab-content-item--img" [src]=product.imgSrc>
          <p class="content_tab-content-item--name">{{ product.name }}</p>
          <span class="content_tab-content-item--cooperate">{{ product.cooperate }}</span>
          <span class="content_tab-content-item--desc">{{ product.desc }}</span>
          <img class="content_tab-content-item--rate" [src]=product.imgRate>
        </div>
      </div>
      <div class="content_tab-content-block">
        <div class="content_tab-content-item" id="2" *ngFor="let product of productsEducation">
          <img class="content_tab-content-item--img" [src]=product.imgSrc>
          <p class="content_tab-content-item--name">{{ product.name }}</p>
          <span class="content_tab-content-item--cooperate">{{ product.cooperate }}</span>
          <span class="content_tab-content-item--desc">{{ product.desc }}</span>
          <img class="content_tab-content-item--rate" [src]=product.imgRate>
        </div>
      </div>
      <div class="content_tab-content-block">
        <div class="content_tab-content-item" id="3" *ngFor="let product of productsEducation">
          <img class="content_tab-content-item--img" [src]=product.imgSrc>
          <p class="content_tab-content-item--name">{{ product.name }}</p>
          <span class="content_tab-content-item--cooperate">{{ product.cooperate }}</span>
          <span class="content_tab-content-item--desc">{{ product.desc }}</span>
          <img class="content_tab-content-item--rate" [src]=product.imgRate>
        </div>
      </div>
      <div class="content_tab-content-block">
        <div class="content_tab-content-item" id="4" *ngFor="let product of productsEducation">
          <img class="content_tab-content-item--img" [src]=product.imgSrc>
          <p class="content_tab-content-item--name">{{ product.name }}</p>
          <span class="content_tab-content-item--cooperate">{{ product.cooperate }}</span>
          <span class="content_tab-content-item--desc">{{ product.desc }}</span>
          <img class="content_tab-content-item--rate" [src]=product.imgRate>
        </div>
      </div>
      <div class="content_tab-content-btn-next">
        <img src="../../../assets/images/index/u127.svg" style="width: 8px; height: 14px;">
      </div>
      <div class="content_tab-content-trending">
        <div class="content_tab-content-trending--heading">
          <span>10.000+ doanh nghiệp đang sử dụng</span>
        </div>
        <div  class="content_tab-content-trending--product">
          <div class="content_tab-content-item">
            <img class="content_tab-content-item--img" src="../../../assets/images/index/u36.jpg">
            <p class="content_tab-content-item--name">Hóa đơn điện tử - C-Invoice</p>
            <span class="content_tab-content-item--cooperate">CMC</span>
            <span class="content_tab-content-item--desc">Giải pháp quản lý hóa đơn trên nền tảng công nghệ kỹ thuật số cho các doanh nghiệp, các công ty, cơ sở sản xuất</span>
            <img class="content_tab-content-item--rate" src="../../../assets/images/index/u39.png">
          </div>
          <div class="content_tab-content-item">
            <img class="content_tab-content-item--img" src="../../../assets/images/index/u36.jpg">
            <p class="content_tab-content-item--name">Hóa đơn điện tử - C-Invoice</p>
            <span class="content_tab-content-item--cooperate">CMC</span>
            <span class="content_tab-content-item--desc">Giải pháp quản lý hóa đơn trên nền tảng công nghệ kỹ thuật số cho các doanh nghiệp, các công ty, cơ sở sản xuất</span>
            <img class="content_tab-content-item--rate" src="../../../assets/images/index/u39.png">
          </div>
          <div class="content_tab-content-item">
            <img class="content_tab-content-item--img" src="../../../assets/images/index/u36.jpg">
            <p class="content_tab-content-item--name">Hóa đơn điện tử - C-Invoice</p>
            <span class="content_tab-content-item--cooperate">CMC</span>
            <span class="content_tab-content-item--desc">Giải pháp quản lý hóa đơn trên nền tảng công nghệ kỹ thuật số cho các doanh nghiệp, các công ty, cơ sở sản xuất</span>
            <img class="content_tab-content-item--rate" src="../../../assets/images/index/u39.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content_suggest">
    <img src="../../../assets/images/index/u54-1.png" style="width: 100%; height: 400px;">
    <div class="content_suggest-contact">
      <p class="content_suggest-contact-heading">Nhận các gợi ý phù hợp với doanh nghiệp của bạn</p>
      <p class="content_suggest-contact-desc">Trả lời một số câu hỏi để chúng tôi gợi ý các giải pháp CNTT cho bạn</p>
      <app-button-start></app-button-start>
    </div>
  </div>
  <app-evaluate></app-evaluate>
  <app-form-register [style.display]="isCheckShowFornRegister"></app-form-register>
</div>
