.form-start {
  height: 49px;
  width: 140px;
  display: flex;
  align-items: center;
  background-color: #169BD5;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.form-start-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #ffffff;
  padding-left: 41px;
}
