<div class="block_education">
  <div class="block_education-heading">
    <span class="block_education-heading-text">{{ categoryName }}</span>
  </div>
  <div class="block_education-content">
    <div *ngFor="let product of products;">
      <div class="block_education-content-item" *ngIf="product.status" >
        <img class="block_education-content-item--img" [src]="product.images">
        <p class="block_education-content-item--name">{{ product.productName }}</p>
        <span class="block_education-content-item--cooperate">{{ product.vendorId }}</span>
        <span class="block_education-content-item--desc">{{ product.description }}</span>
        <span class="block_education-content-item--rate">
          <img src="../../../../assets/images/index/u39.png" style="width: 116px; height: 27px;">
          {{ product.rating }}
        </span>
      </div>
    </div>
  </div>
</div>
