<div class="product_get">
  <div class="block-admin-account">
    <div>
      <img src="../../../../assets/images/index/u174.svg" alt="" class="notification-item-img">
      <img src="../../../../assets/images/index/u71.png" alt="" class="admin-account-img">
    </div>
  </div>
  <div class="product_get-content">
    <div class="product_get-content-center">
      <table>
        <thead>
          <tr>
            <th>ID Sản phẩm</th>
            <th>Tên Sản phẩm</th>
            <th>Image</th>
            <th>Mô tả</th>
            <th>Đánh giá</th>
            <th>Trạng thái</th>
            <th>Tạo ngày</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.productId }}</td>
            <td>{{ product.productName }}</td>
            <td><img class="product_get-content-center--img" [src]="product.images"></td>
            <td>{{ product.description }}</td>
            <td>{{ product.rating }}</td>
            <td *ngIf="product.status == true" style="color: rgb(16, 188, 16);">Activice</td>
            <td *ngIf="product.status == false" style="color: rgb(249, 39, 39);" >UnActivice</td>
            <td>{{ product.createdDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
