<div class="product_get">
  <div class="block-admin-account">
    <div>
      <img src="../../../../assets/images/index/u174.svg" alt="" class="notification-item-img">
      <img src="../../../../assets/images/index/u71.png" alt="" class="admin-account-img">
    </div>
  </div>
  <div class="product_get-content">
    <div class="product_get-content-center">
      <table>
        <thead>
          <tr>
            <th>ID Sản phẩm</th>
            <th>Tên Sản phẩm</th>
            <th>Image</th>
            <th>Mô tả</th>
            <th>Đánh giá</th>
            <th>Trạng thái</th>
            <th>Tạo ngày</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ID Sản phẩm</td>
            <td>Tên Sản phẩm</td>
            <td><img class="product_get-content-center--img" src="../../../../assets/images/app/u1185.png"></td>
            <td>Mô tả</td>
            <td>Đánh giá</td>
            <td>Trạng thái</td>
            <td>Tạo ngày</td>
          </tr>
          <tr>
            <td>ID Sản phẩm</td>
            <td>Tên Sản phẩm</td>
            <td><img class="product_get-content-center--img" src="../../../../assets/images/app/u1205.png"></td>
            <td>Mô tả</td>
            <td>Đánh giá</td>
            <td>Trạng thái</td>
            <td>Tạo ngày</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
