<div class="form_register">
  <div class="form_register-header">
    <span>Đăng ký nhận tư vấn</span>
    <div class="form_register-header-close">
      <img (click)="handleShowFormRegister()" src="../../../../assets/images/index/u131.svg" alt="">
    </div>
  </div>
  <div class="form_register-content">
    <p class="form_register-content-desc">Vui lòng để lại thông tin để chúng tôi có thể liên hệ và tư vấn các giải pháp phù hợp với quý doanh nghiệp</p>
    <div class="form_register-content-input">
      <app-form-input></app-form-input>
      <app-form-input></app-form-input>
      <app-form-input></app-form-input>
      <app-form-input></app-form-input>
      <app-form-input></app-form-input>
    </div>
  </div>
  <div class="form_register-action">
    <app-button-login></app-button-login>
    <app-button-register></app-button-register>
  </div>
</div>
