<div class="block-admin-account">
  <div>
  <img src="../../../../assets/images/index/u174.svg" alt="" class="notification-item-img">
  <img src="../../../../assets/images/index/u71.png" alt="" class="admin-account-img">
  </div>
</div>

<div class="block-title-content">
  <div>
    <h1 class="title-content-create-products">Thêm Mới Sản Phẩm</h1>
  </div>
</div>
<div class="block-create-products-content">
    <div class="block-create-products">
      <div class="block-create-products-name">
      <div>
        <span class="label-create-products-name">Nhập tên sản phẩm: </span>
        <input  type="text" placeholder="Tên sản phẩm" id="input-name-products" class="input-style">
      </div>
      </div>
    <div>
      <div class="block-create-products-vendor-id">
        <span class="label-create-products-vebdor">Nhập đơn vị cung cấp: </span>
        <input type="text" placeholder="Đơn vị cung cấp" id="input-vendor-products" class="input-style">
      </div>
    </div>
      <div class="block-create-products-img">
        <span class="label-create-products-img">Ảnh sản phẩm: </span>
        <input type="text" placeholder="Ảnh sản phẩm" id="input-img-products" class="input-style">
      </div>
      <div class="block-create-products-desc">
        <span class="label-create-products-desc">Mô tả về sản phẩm: </span>
        <input type="text" placeholder="Mô tả sản phẩm" id="input-desc-products" class="input-style">
      </div>
      <div class="block-create-products-rate">
        <span class="label-create-products-rate">Đánh giá về sản phẩm: </span>
        <input type="text" placeholder="Đánh giá sản phẩm" id="input-rate-products" class="input-style">
      </div>
      <div class="block-create-products-date-create">
        <span class="label-create-products-date-create" >Ngày tạo sản phẩm: </span>
        <input type="date" placeholder="dd/mm/yyyy" id="input-date-products" class="input-style">
      </div>
      <div class="block-create-products-status">
        <span class="label-create-products-status">Trạng thái hoạt động: </span>
        <select title="status-item" id="status-option-item">
          <option>Activice</option>
          <option>Unactivice</option>
        </select>
      </div>
      <div class="block-list-catogory">
        <span class="label-create-products-status">Danh mục: </span>

        <select title="catogory-list" id="catogory-list-item">
          <option>Giáo dục</option>
          <option>Y tế</option>
          <option>Danh mục 1</option>
          <option>Danh mục 1</option>
          </select>
      </div>
    </div>
    <div class="block-add-produst-item">
      <div>
        <input type="button" value="Thêm sản phẩm" class="add-product-btn">
      </div>
    </div>
</div>
