app-header {
  width: 100%;
  height: 62px;
  display: block;
}

app-content {
  width: 100%;
  display: block;
}

app-footer {
  width: 100%;
  height: 122px;
  display: block;
}

app-field-category {
  width: 100%;
}
